/* Start of CSS */

/* smooth scroll from https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1 */

html {
  scroll-behavior: smooth;
}

#title {
    background-color: #ff4c68;

}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 1.3;
    color: #fff;
}




/* font-family: 'Ubuntu', sans-serif; */

.navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1.5rem;
        font-size: 3.25rem;
        line-height: inherit;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        margin-left: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

#downloadbtn1:hover {
    color: #000;
    background-color: #fff;
}

#downloadbtn2:hover {
    color: #fff;
    background-color: #2600FF;
}



/* Title Image Section*/

.title-image {
    width: 60%;
    transform: rotate(15deg);
    margin-left: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

h3 {
    font-family: "Monserrat";
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ff4c68;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #2600FF;
}

/* Dogpictures below feature boxes */



.dogpictures {
    text-align: center;
}

/* Testimonials Section */

#testimonials {
    /* padding: 7% 15%; */
    text-align: center;
    background-color: #ff4c68;
    color: white;
    margin-top: 15px;
    
}

h2 {
    font-family: "Monserrat";
    font-size: 4rem;
    font-weight: 700;
}

.testimonial-image {
    border-radius: 100%;
    width: 40%;
    padding-right: 10px;
    padding-top: 10px;
}

/* Press Section */

#press {
    text-align: center;
    padding-bottom: 3%;
    background-color: #ff4c68;

}

.press-logo {
    width: 20%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;

}

/* New Pricing */
section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

/* New Pricing End */


/* Call to Action Section */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Monserrat";
  font-size: 2.5rem;
  /* line-height: 2.5rem; */

}

#buttondownload3 {
  margin: 5% 3% 5% 0;
  
}

#buttondownload3:hover {
  color: #000;
  background-color: #fff;
}

#buttondownload4:hover {
  color: #fff;
  background-color: #2600FF;
}

#buttondownload4:hover a {
  color: #fff !important;
  background-color: #2600FF;
}

a {
  color: #fff;
  text-decoration: none;
}

.fa-apple:before {
  content: "\f179";
  padding-right: 5px;
}

.fa-google-play:before {
  content: "\f3ab";
  padding-right: 5px;
}

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 5px 20px;
  color: #2600FF;  

}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Media Queries */

@media (max-width: 1275px) {
  h1 {
    font-size: 3.0rem;
  }

  #title {
    text-align: center;
  }

  .title-image {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transform: rotate(0);
  }
  
}

